{% extends 'polls/index.html' %}

{% block content %}
		<div class="polls-list">
		<ol>
		{% for poll in polls_counts %}
			<li>
                <div class="poll-item">
                    <div class='poll-title'>
                        <h2><a href={% url 'polls_details' pk=poll.0.pk %}> {{ poll.0.question_text }}</a></h2>
                    </div>
                    <div class="poll-author">
                        <p><a href='/'>Created by: {{ poll.0.author }}</a></p>
                    </div>
					<p>{{ poll.1 }} total votes</p>
					<div class="link-results">
						<p><a href={% url 'polls_results' poll.0.id %}>View Results</p>
					</div>
                </div>
				<br>
			</li>
		{% endfor %}
		</ol>
		</div>
{% endblock %}