{% extends 'polls/index.html' %}

{% block content %}
    <div class="question-choice">
        {% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'polls_edit' pk=poll.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
        <h2><strong>{{ poll.question_text }}</strong></h1>
        <ol>
            <form action="{% url 'polls_vote' poll.id %}" method="post">
                {% csrf_token %}
                {% for choice in poll.choice_set.all %}
                <li>
                    <label class="container"> {{ choice }}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.pk }}">
                    </label>
                </li>
                {% endfor %}
            </ol>
            <input type="submit", value="Submit Vote">
        </form>
    </div>
{% endblock %}